{% extends "layout.html" %}

{% block body %}


            <div class="col-6 bg-light border mt-5">
                <div class="form">
                    <form action="/update/{{customer.id}}" method="POST">

                        <h4 class="mb-4 mt-2">Päivitä asiakastietoja: {{customer.name}}</h4>
                        <input type="text" class="w-50 mb-2" name="customer_name" id="customer_name" value="{{customer.name}}">
                        <input type="text" class="w-50 mb-2" name="customer_address" id="customer_address" value="{{customer.address}}">
                        <br>
                        <input type="submit" class="btn btn-light btn-sm mb-2 btn-outline-dark" value="Päivitä">

                    </form>
                </div>
            </div>

{% endblock %}