{% extends "layout.html" %}

{% block body %}

            <div class="col-6 bg-light border mt-5">
                <div class="form">
                    <form action="/users/update/{{user.id}}" method="POST">
                        <h4 class="mb-4 mt-2">Päivitä käyttäjän tietoja: {{user.name}}</h4>
                        <input type="text" class="w-50 mb-2" name="user_name" id="dog_name" value="{{user.name}}">
                        <input type="text" class="w-50 mb-2" name="user_username" id="dog_race" value="{{user.username}}">
                        <br>
                        <input type="submit" class="btn btn-light btn-sm mb-2 btn-outline-dark" value="Päivitä">
                    </form>
                </div>
            </div>

{% endblock %}