{% extends "layout.html" %}

{% block body %}
    
    <div class="row justify-content-md-center mt-5">

        <div class="col-12 ">

            <h3 class="mb-4">Käyttäjän {{user.name}} koirat</h3>

            {% for dog in dogs %}
            <div class="col-6 bg-light border mt-2">

                <h5 class="mt-2">{{ dog.name }}: {{ dog.race }} </h5>
                <a href="/update/{{dog.id}}" class="text-dark">Päivitä</a>
                <a href="/delete/{{dog.id}}" class="text-dark">Poista</a>
                
                <p class="mt-4"><strong>Ilmoittautumiset:</strong></p>
                <p>Toteuttamatta</p>
                                    
                <p class="mt-4"><strong>Ilmoita {{ dog.name }} kurssille:</strong></p>
                <form method="POST" action="{{ url_for('new_enrolment') }}">
                    <input type="text" name="dog_id" value="{{dog.id}}" hidden/> 
                
                    <table class="mb-4">
                        <tr>
                            <td>
                                {{ form.course(class_='form-control') }}
                            </td>
                            <td>
                                <input type="submit" class="btn btn-light btn-sm mt-2 mb-2 ml-3 btn-outline-dark" value="Ilmoittaudu"/>
                            </td>
                        </tr>

                    </table>
                </form>
                    
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}