{% extends "layout.html" %}

{% block body %}
    
    <div class="row justify-content-md-center mt-5">

        <div class="col-12 ">

            <h3 class="mb-4">Käyttäjän {{user.name}} koirat</h3>

            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr>
                    <th scope="col" style="width: 30%">Nimi</th>
                    <th scope="col" style="width: 20%">Rotu</th>
                    <th scope="col" style="width: 10%"></th>
                    <th scope="col" style="width: 10%"></th>
                    <th scope="col" style="width: 30%">Lisää kurssille</th>

                    </tr>
                </thead>

                <!-- jokaisesta tr:stä form -->
                {% for dog in dogs %}

                    <form method="POST" action="{{ url_for('new_enrolment') }}">
                        
                        <tr>

                        <input type="text" name="dog_id" value="{{dog.id}}" hidden/> 
                        
                        <td style="vertical-align:baseline">{{ dog.name }} </td>
                        <td style="vertical-align:baseline">{{ dog.race }}</td>
                        <td style="vertical-align:baseline"><a href="/update/{{dog.id}}" class="text-dark">Päivitä</a></td>
                        <td style="vertical-align:baseline"><a href="/delete/{{dog.id}}" class="text-dark">Poista</a></td>
                        
                        <td style="vertical-align:baseline">{{ form.course(class_='form-control') }} <input type="submit" class="btn btn-light btn-sm mt-2 mb-2 btn-outline-dark" value="Ilmoittaudu"/></td>

                        </tr>
                    </form>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}