{% extends "layout.html" %}

{% block body %}


            <div class="col-6 bg-light border mt-5">
                <div class="form">
                    <form action="/update/{{dog.id}}" method="POST">

                        <h4 class="mb-4 mt-2">Päivitä koiran tietoja: {{dog.name}}</h4>
                        <input type="text" class="w-50 mb-2" name="dog_name" id="dog_name" value="{{dog.name}}">
                        <input type="text" class="w-50 mb-2" name="dog_race" id="dog_race" value="{{dog.race}}">
                        <br>
                        <input type="submit" class="btn btn-light btn-sm mb-2 btn-outline-dark" value="Päivitä">

                    </form>
                </div>
            </div>

{% endblock %}