{% extends "layout.html" %}

{% block body %}

  <div class="row justify-content-md-center mt-5">
    <div class="col-12 ">
      <div class="col-6 ">

        <h3 class="mb-4">Koiran {{dog.name}} ilmoittautumiset:</h3>

        {% if nro_of_enrolments == 0 %}

        <p>{{dog.name}} ei ole ilmoittaunut vielä millekään kurssille.</p>

        {% endif %}
        
        {% if nro_of_enrolments != 0 %}

        <table class="table table-sm table-bordered table-hover">
          <tr>

            <th scope="col" style="width: 60%">Kurssi</th>
            
            <th scope="col" style="width: 40%">Peru</th>

          </tr>
          {% for enrolment in enrolments %}

            <tr style="height: 40px;" >
                <form method="POST" action="{{ url_for('enrolments_cancel_by_dog') }}">
                    <input type="text" name="dog_id" value="{{enrolment.dog_id}}" hidden/>
                    
                    <input type="text" name="course_id" value="{{enrolment.course_id}}" hidden/>
                    
                    
                    <td>{{enrolment.course_name}}<br>

                    </td>
                    <td>
                        <input type="submit" class="btn btn-light btn-sm btn-outline-dark" value="Peru"/>
                    </td>

                </form>
            </tr>

          {% endfor %}
        </table>
    {% endif %}

    <br>
    <br>

    <form method="GET" action="{{ url_for('dogs_index') }}">
      <input type="submit" class="btn btn-light btn-sm mt-2 mb-2 btn-outline-dark" value="Palaa"/>
    </form>
    </div>
  </div>
</div>

{% endblock %}