{% extends "layout.html" %}
  
{% block body %}

<div class="col-6 bg-light border mt-5">
  <div class="form">

    <form method="POST" action="{{ url_for('courses_create') }}">
      
      <h4 class="mb-4 mt-2">Lisää kurssi</h4>
      
      <table>
        <tr>
          <td>
            {{ form.name.label }}
          </td>
          <td>
            {{ form.name }}
          </td>
          <td>
            
              {% for error in form.name.errors %}
              {{ error }}<br>
              {% endfor %}
            
          </td>
        </tr>
        <tr>
          <td>
            {{ form.description.label }}
          </td>
          <td>
            {{ form.description }}
          </td>
          <td>
            
              {% for error in form.description.errors %}
              {{ error }}<br>
              {% endfor %}
            
          </td>
        </tr>
        <tr>
          <td>
            {{ form.max_participants.label }}
          </td>
          <td>
            {{ form.max_participants }}
          </td>
          <td>
            
              {% for error in form.max_participants.errors %}
              {{ error }}<br>
              {% endfor %}
            
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <input type="submit" class="btn btn-light btn-sm mt-2 mb-2 btn-outline-dark" value="Lisää kurssi"/>
          </td>
        </tr>


      </table>  

      
    </form>
  </div>
</div>
{% endblock %}