{% extends "layout.html" %}

{% block body %}

            <div class="col-6 bg-light border mt-5">
                <div class="form">
                    <form action="/courses/update/{{course.id}}" method="POST">
                   
                        <h4 class="mb-4 mt-2">Päivitä kurssin tietoja: {{course.name}}</h4>
                        <table>
                            <tr>
                              <td>
                                {{ form.name.label }}
                              </td>
                              <td>
                                {{ form.name }}
                              </td>
                              
                            </tr>
                            <tr>
                              <td>
                                {{ form.description.label }}
                              </td>
                              <td>
                                {{ form.description }}
                              </td>
                              
                            </tr>

                            <tr>
                              <td>
                                {{ form.max_participants.label }}
                              </td>
                              <td>
                                {{ form.max_participants }}
                              </td>
                              
                            </tr>
                        
                            <tr>
                              <td colspan="2">
                                <input type="submit" class="btn btn-light btn-sm mt-2 mb-2 btn-outline-dark" value="Päivitä"/>
                              </td>
                            </tr>
                        
                        
                          </table>

                    </form>
                </div>
            </div>



{% endblock %}


